@use "./global/variables.scss";

.button {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  font-family: inherit;
  border: none;
  outline: none;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;

  &--index {
    padding: 11px;
    color: variables.$white--lightest;
    background-color: variables.$green;

    &:hover,
    &:focus {
      background-color: variables.$green--dark;
    }

    &:active {
      color: rgba(variables.$white--lightest, 0.3);
    }

    @media (min-width: variables.$tablet-width) {
      padding: 17px;
      font-size: 20px;
      line-height: 20px;
    }
  }

  &--primary {
    padding: 10px;
    font-size: 16px;
    line-height: 20px;
    color: variables.$white--lightest;
    background-color: variables.$green;

    &:hover,
    &:focus {
      background-color: variables.$green--dark;
    }

    &:active {
      color: rgba(variables.$white--lightest, 0.3);
    }
  }

  &--secondary {
    padding: 10px;
    font-size: 16px;
    line-height: 20px;
    color: variables.$gray--dark;
    background-color: variables.$white--lighten;

    &:hover,
    &:focus {
      background-color: variables.$white;
    }

    &:active {
      color: rgba(variables.$gray--dark, 0.3);
    }
  }
}
